/InterestRates/.vs
/InterestRates/InterestRates/bin
/InterestRates/InterestRates/obj
/InterestRates/InterestRatesLibrary/bin
/InterestRates/InterestRatesLibrary/obj
/InterestRates/InterestRatesTests/bin
/InterestRates/InterestRatesTests/obj
